section.page_content
    .container
        .content
            h1.page_title Политика конфиденциальности

            h3 1. Общие положения политики
            p 1.1. Настоящая Политика является неотъемлемой частью Публичной оферты (далее – «Оферта»), размещенной и/или доступной в сети Интернет по адресу: ______, а также иных заключаемых с Пользователем договоров, когда это прямо предусмотрено их условиями.
            h3 2. Персональная информация
            p 2.1. Под персональной информацией в настоящей Политике понимается:

            p 2.1.1. Информация, предоставляемая пользователем самостоятельно, включая персональные данные пользователя.

            p Такие данные могут предоставляться как при регистрации пользователя на сайте, так и в последующем (редактирование профиля, заполнение заказа, обращение в службу поддержки).

            p 2.1.2. Данные, которые передаются в автоматическом режиме.

            p В данном случае речь может идти об IP, cookie, параметрах и настройках интернет-браузеров, месте нахождения пользователя, совершаемых им действиях и т.д. В отличие от персональных данных, такая информация носит обезличенный характер, в связи с чем не относится к составу персональных данных. Поэтому разделение персональной информации на персональные и обезличенные данные и доведение таких отличий до сведения пользователем в явной форме важно с учетом жестких требований законодательства к обработке персональных данных.
            h3 3. Цели обработки персональных данных
            p Действующее законодательство требует обеспечить ознакомление пользователя с целями обработки его персональных данных. Поэтому в данном разделе должны быть описаны конкретные задачи, в рамках которых осуществляется обработка персональных данных пользователя.

            p К таким целям могут быть отнесены заключение и исполнение договоров в рамках Интернет-сервиса; проведение маркетинговых, статистических и иных исследований на основе обезличенных данных, и т.д.
            h3 4. Требования к защите Персональной информации
            p Еще одним обязательным требованием закона является раскрытие сведений о мероприятиях, выполняемых владельцем сайта для обеспечения защиты персональных данных пользователя.

            p Поэтому в настоящем разделе должны быть подробно описаны условия и пределы обеспечения конфиденциальности персональных данных пользователей, включая основания и способы их передачи третьим лицам.
            h3 5. Изменение Персональной информации
            p Владелец сайта не должен отвечать за полноту и актуальность сведений о пользователях. Для этого каждому пользователю должно быть предоставлено право на их редактирование.

            p Помимо этого по закону согласие на обработку персональных данных может быть отозвано пользователем в любой момент. В связи с этим Политика конфиденциальности должна содержать четкую процедуру реализации права на отзыв.
            h3 6. Изменение Политики конфиденциальности
            p Меняется законодательство и условия пользования сайтом. В связи с этим в Политике конфиденциальности должны быть учтены способы ее уточнения. Такие условия должны позволять вносить необходимые изменения в упрощенном порядке по единоличному усмотрению владельца сайта без предварительного уведомления и одновременно для всех пользователей.