section.content_404
    .container
        .content
            img.img_404(src=dir+'404.png')
            h1.page_title Страница не найдена :(
            .desc_404 К сожалению, такой страницы не существует
            a.btn_default.orange(href="/") Вернуться на сайт