section.first_screen
    .container
        h1.site_title <span class="orange">UNIQ</span> – <span class="d_block">невоображаемый друг для вашего ребенка</span>
        p.sub_title <span>Детский игровой компаньон</span> с искусственным интеллектом.
        .desc
            p Детский игровой компаньон с искусственным интеллектом. Развивает фантазию и обучает через игры.
            p Предназначен для детей-дошкольников от 5 до 7 лет.

        .first_screen_row
            .col_left
                ul.adv_list
                    li
                        button.violet Развивает фантазию
                    li
                        button.green Обучает через игры.
                    li
                        button.white Для детей-дошкольников 5-7 лет
                a.btn_default(href="#modal") Узнать больше
            .col_center
                picture
                    img.img_desktop(src=dir+'cat.png')
                    img.img_mobile(src=dir+'cat_mobile.png')
            .col_right
                img(src=dir+'Video.png')
