script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js")
script(src="../js/slick.js")
script(src="../js/main.js")
